* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1em;
}

h1 {
    font-size: 300%;
    padding: 1em .5em 0 .5em;
    font-family: 'Lobster Two', cursive;
}

h2 {
    font-size: 1em;
    padding: 0.25em 0 .5em 0;
}

header {
    color: white;
    background-color: #00417C;
    text-shadow: 3px 3px #30343F;
    position: relative;
}

header img {
    max-width: 100%;
    opacity: 0.6;
}

.headings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1.5em 1em 1.5em;
}

h3 {
    padding: .75em 0 .5em 0;
    font-size: 1.4em;
    color: #00417C;
}

hr {
    margin: 0 1.5em;
    height: .15em;
    background-color: #00417C;
}

.name {
    color: #EA638C;
    font-weight: bold;
}

main p {
    text-align: left;
    line-height: 120%;
    font-size: 1.2em;
}

.links img {
    max-width: 5em;
}
.links a {
    color: #30343F;
    font-size: 1.3em;
}

figure {
    padding: 1em;
}

footer {
    padding: .5em;
}

/* Add media breakpoints - hide header image, add as background image  */

@media  screen and (min-width: 600px) {

    
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: #3082cf;
    padding: 4em 0;
}    

.intro::before {
    content: "";
    background-image: url("images/vectorstock_26088399_main_fullsize.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
    position: absolute;
}

body {
    background-color: #d3e7fa;
    /* background-image: linear-gradient(to right, #0660b4,#3DA1FF,#0660b4); */
}

.desktop_image {
    display: block;
    width: 100%;
}

.links a{
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

header img {
    display: none;

}

header {
    background-color: transparent;
}

h1 {
    font-size: 6em;
    padding: 0em .5em .5em .5em;
}

h2 {
    font-size: 4.5em;
    padding: .5em;
    position: relative;
}

h3 {
    font-size: 3em;
    padding: 1em 0 .5em 0;
    color: #EA638C;
    text-shadow: 2px 1px #30343F;
    position: relative;
}

.box {
    margin: 4em 8em 0em 8em;
    background-color: white;
    padding: 2em;
    opacity: .9;
    border: #00417C solid 1em;
    border-radius: 1em;
    box-shadow: 5px 5px #888888;
}

hr {
    display: none;
}

.headings {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0, 0);
}

main {
    padding: 0 20%;
    color: white;
    text-shadow: 1.5px 1.5px #30343F;
    position: relative;

}

main h3 {
    color: white;
}

main p {
    font-size: 1.5em;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    position: relative;
}

.links a {
    color: #00417C;
    text-shadow: 1px 1px #30343F;
}

footer {
    color: white;
    text-shadow: 1px 1px #30343F;
    padding-top: 3em;
    position: relative;
}

}