/* Generic to set base styles  */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1em;
}

/* Styles are organised in increasing screen width */
/* For mobile screens */

/* Headings  */
h1 {
    font-size: 3rem;
    padding: 0em .5em 0 .5em;
    font-family: 'Lobster Two', cursive;
}

h2 {
    font-size: 2rem;
    padding: 0.25em 0 .5em 0;
}

h3 {
    padding: 0 0 .8rem 0;
    color: #00417C;
    font-size: 2rem;
}

h4 {
    font-size: 1.2em;
    padding: 0.25em 0 .5em 0;
    background-color: #00417C;
    color: #EA638C;
}

h5 {
    font-size: 1.1em;
    padding: 0.25em 0 .5em 0;
}

/* Header  */

header {
    display: flex;
    flex-direction: row;
    color: white;
    text-shadow: 3px 3px #30343F;
    text-align: center;
    margin: auto;
}

.header-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-image: linear-gradient(to bottom left, #214159, #4282B3);
    padding: 1em 0 0 0;
    border-radius: 2rem;
    margin: 1rem;
}   

/* Intro section - top summary of profile and skills - Mobile  */

.intro {
    display: flex;
    flex-direction: column;
}

.about {
    padding: 3rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.about p {
    text-align: left;
}

.skills {
    padding: 3rem;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills p {
    text-align: left;
}

hr {
    margin: 0 1.5em;
    height: .15em;
}

.name {
    color: #EA638C;
    font-weight: bold;
}

/* Portfolio section  */

.portfolio {
    margin: 1rem;
    padding: 2rem 0 .5rem 0;
    background-color: #F0F6FA;
    border-radius: 2rem;
}

.links-portfolio img {
    max-width: 100%;
}

.links-portfolio a {
    color: #30343F;
    font-size: 1.3em;
    text-decoration: none;
}

.app_card:nth-child(2n) {
    /* background-color: #E0EDF5; */
}

.app_card {
    border: solid .4rem #00417C;
    margin: 2rem;
    border-radius: 1.2rem;
    background-color: white;
}

figure {
    padding: .8rem;
}

/* Footer - Connect section */

.set_margin {
    margin: 1rem;
    background-color: #33658A;
    border-radius: 1.5rem;
}

.set_margin h3 {
    color: #EA638C;
    text-shadow: 1px 1px #30343F;
    font-size: 2.5rem;
    padding-top: 1rem;

}

/* Footer section - Links and images */

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.links img {
    max-width: 5em;
}

.links a {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px #30343F;
}

/* Add media breakpoints for larger screens */

@media  screen and (min-width: 600px) {

/* Header section - Tablet */   

h1 {
    font-size: 6rem;
    padding: 0em .5em .25em .5em;
}

h2 {
    font-size: 4rem;
    padding: .5em;
    position: relative;
}

hr {
    display: none;
}

/* Intro - Tablet screens  */

.intro {
    flex-direction: row;
    font-size: 1.5rem;
    max-width: 80%;
    margin: auto;
}

.about {
    max-width: 50%;
}

.links-portfolio {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: center;
    position: relative;
}

/* Footer - Links to email, GitHub, LinkedIn */

.links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    position: relative;
}

#Octocat {
    max-width: 180px;
}

h4 {
    font-size: 2rem;
    text-shadow: 1px 1px #30343F;
    text-decoration: none;
}
}

/* Media breakpoint for tablet and larger  */

@media  screen and (min-width: 992px) {
    .links-portfolio {
        margin: 0 10% 0 10%;
    }

    h5 {
        font-size: 1.4rem;
    }
}